@page
@using Domain
@model WebApp.Pages.PlayGame.Index

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Play Game";
}

<!DOCTYPE html>

<html>
<head>
    <title>Play Game</title>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h3 class="display-4">Minesweeper</h3>
        @if (Model.GameBoardEngine.GameStatus == GameStatus.Completed)
        {
            <h5 class="text-success">Game Won!</h5>
        }
        else if (Model.GameBoardEngine.GameStatus == GameStatus.Failed)
        {
            <h5 class="text-danger">Game Lost!</h5>
        }
    </div>
    <form method="post">
        <br/>
        <table class="table table-bordered">
            @for (var col = 0; col < Model.GameBoardEngine.Height; col++)
            {
                <tbody>
                <tr class="text-center">
                    @for (var row = 0; row < Model.GameBoardEngine.Width; row++)
                    {
                        @if (!Model.GameBoardEngine.GetPanel(row + 1, col + 1).IsRevealed)
                        {
                            if (Model.GameBoardEngine.GetPanel(row + 1, col + 1).IsFlagged)
                            {
                                <td class="flagged" onclick="cellClick(@row + 1, @col + 1, @Model.GameBoardEngine.Id)" oncontextmenu="cellFlag(@row + 1, @col + 1, @Model.GameBoardEngine.Id)">
                                </td>
                            }
                            else
                            {
                                <td onclick="cellClick(@row + 1, @col + 1, @Model.GameBoardEngine.Id)" oncontextmenu="cellFlag(@row + 1, @col + 1, @Model.GameBoardEngine.Id)" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
                                </td>
                            }
                        }
                        else
                        {
                            <td>@Model.GetSingleState(Model.GameBoardEngine.GetPanel(row + 1, col + 1))</td>
                        }
                    }
                </tr>
                </tbody>
            }
        </table>
        <div class="text-center">
            @if (Model.GameBoardEngine.GameStatus == GameStatus.Completed || Model.GameBoardEngine.GameStatus == GameStatus.Failed)
            {
                <button class="btn btn-outline-success" type="submit" asp-page-handler="Move" disabled="disabled">Make a move</button>
                <button class="btn btn-outline-success" type="submit" asp-page-handler="Flag" disabled="disabled">Plant/Remove a flag</button>
            }
            else
            {
                <button class="btn btn-outline-success" type="submit" asp-page-handler="Move">Make a move</button>
                <button class="btn btn-outline-success" type="submit" asp-page-handler="Flag">Plant/Remove a flag</button>
            }

        </div>
    </form>
</div>
@section Scripts{
    <script src="@Url.Content("~/js/minesweeper.js")"></script>
}
</body>
</html>